{% extends 'base.html.twig' %}

{% block title %}Catégorie
	{{category.name}}
{% endblock %}


{% block body %}
	<h1>{{category.name}}</h1>
	<div>
		{% for program in programs %}
			<h1>{{program.title}}</h1>
			<p>{{program.synopsis}}</p>
			<a href="{{path("program_show", {id: program.id})}}">Voir la fiche!</a>
		{% endfor %}
	</div>

	<a href="{{path('category_index')}}">
		retour à la liste des catégories
	</a>
{% endblock %}
